h1{
    color:white;
    font-weight: bold;
}
.contactbtn{
    color: white;
    font-weight: bold;
    background-color:rgb(172, 24, 73);
    border: none;
    padding: 0.5%;
    position: fixed;
    bottom: 6%;
    left: 3%;
}
.contactbtn:hover{
    background-color: green;
}
#hint_id_password1{
    display: none;
}
#hint_id_username{
    display: none;
}
#hint_id_password2{
    display: none;
}
.whitecolortxt{
    color: white;
}
.introdiv{
    height: 50vh;
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/five1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 20vh;
}
.profilebg{
    height: 100vh;
    background:linear-gradient( rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url(../images/four.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}
.indexbg{
    background:rgba(123, 123, 123, 0.3);
    
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}