{% extends 'base.html' %}


{% block content %}
{% include 'navbar.html' %}
<h1>Hi josh</h1>
<a href="{% url 'login'%}"><button>Login</button></a>
<p>one</p>
<a href="{% url 'register' %}"><button>Sign-up</button></a>
<p>Story</p>
<a href="{% url 'new_story' %}"><button>Add story</button></a>
<p>profile</p>
<a href="{% url 'user_profile' %}"><button>My Profile</button></a>
<p>add bussiness</p>
<a href="{% url 'register-business' %}"><button>Add bussiness</button></a>



 <div class="container" >
    <div class="row">





        {%for contact in neighborhood_contacts %}
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    {{ contact.department }}
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Number: {{contact.contact_number }}</p>
                    <p>Email: {{ contact.contact_email }}</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                </div>
              </div>
        </div>
        {% endfor %}




        <div class="col-4">
            <div class="text-center " style="background-color:rgb(172, 24, 73);">
                <h4 style="color: white;">Businesses in {{user.profile.neighborhood}}</h4>
            </div>
            
            <p><i>Do you have a business in {{user.profile.neighborhood}} ?<br>advertise it </i><a href="{% url 'register-business' %}">here</a></p>
            {% for business in neighborhood_business %}
            <div class="card mt-3">
                <div class="card-header">
                    <h5>{{business.business_name}}</h5>
                
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{business.description}}</p>
                    <br>
                    <small class="text-center">
                        <p>contact</p>
                        <p>{{business.business_email}}</p>
                    </small>
                    
                    <footer class="blockquote-footer">posted By:<cite title="Source Title">{{business.user}}</cite></footer>
                </blockquote>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-1"></div>
        <!--Post for the neighbourhood-->
        <div class="col-7">
            <div class="text-center " style="background-color:rgb(172, 24, 73);">
                <h2 style="color: white;">{{user.profile.neighborhood}} Stories</h2>
            </div>
            {% if neighborhood_stories %}
            {% for story in neighborhood_stories %}
            <div class="card mt-4">
                <div class="card-header">
                <img src="{{ story.user.profile.profile_pic.url }}" alt="profile image" class="rounded-circle profile-img" width="10%">
                &nbsp;&nbsp;{{ story.user.username }}
                </div>
                <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <h4 class="text-center" style="color:rgb(172, 24, 73);">{{ story.headline }}</h4>
                    <p>{{ story.story }}</p>
                </blockquote>
                </div>
            </div>
            {% endfor %}
            {% else %}

            <div class="card">
                <div class="card-body">
                    <div class="card-title">Note!!</div>
                    <div class="card-text">Are you registerd at a neighborhood? if you are then there are no stories for
                        this hood yet</div>
                    <div>
                    </div>
                    <a href=""><button class="btn btn-primary">Update Profile</button></a>
                    
                    </div>
            </div>
            {% endif %}

        </div>



<a href="{% url 'show-contact' %}"><button class="contactbtn">Contacts</button></a>
    </div>
</div>

{% endblock %}